:root {
  --basic-black: #000000;
  --basic-niagara: #81b3d2;
  --basic-dark: #333333;
  --basic-shadow: #666666;
  --basic-russet: #766357;
  --basic-lavender: #f2f2f2;
  --basic-white: #ffffff;
  --basic-grey: #cacaca;

  --special: #eeeeee;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Grid */
.page {
  height: 100%;
}
.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}
/* Global */
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  outline: 5px solid #ff0000;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: var(--basic-black);
  text-transform: uppercase;
}
a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
/* Main header */
.main-header {
  outline: 5px solid #ff0191;
  margin: 0;
}
/* Main navigation */
.main-navigation {
  line-height: 26px;
  font-weight: bold;
  color: var(--basic-black);
  text-align: center;
}
.main-header-logo {
  position: relative;
}
.site-navigation-current a:not([href]) {
  background-color: var(--basic-black);
}

.site-navigation {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  grid-column-gap: 150px;
  margin: 0;
  align-items: flex-start;
  list-style: none;
  text-align: left;
}
.site-navigation a {
  display: block;
  width: 100%;
  color: var(--basic-black);
  margin-right: 72px;
}
.site-navigation a:hover,
.site-navigation a:focus {
  color: var(--basic-niagara);
}
.site-navigation a:active {
  mix-blend-mode: normal;
  opacity: 0.3;
}
/* Main-Body */
.intro {
  outline: 5px solid #060b84;
  background-image: url("../img/main.jpg");
  background-position: center, 0 0;
  background-repeat: no-repeat;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}
.jagged-wrapper img {
  margin-top: 77px;
  margin-left: 371px;
  margin-right: 372px;
  margin-bottom: 81px;
}
.jagged-wrapper::after {
  background-image: url(../img/intro-mask.svg);
  background-repeat: repeat;
}
.reasons-why h2 {
  color: var(--basic-dark);
  line-height: 26px;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  margin-bottom: 51px;
}
.reasons-why {
  text-align: center;
  width: 100%;
}
.reasons-why .heading {
  width: 470px;
  height: 80px;
  margin: 0 auto;
  margin-top: 43px;
  margin-bottom: 17px;
}
.heading {
  margin: 0;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.reasons-row {
  color: var(--basic-white);
  background-color: var(--basic-niagara);
  display: flex;
  margin: 0 auto;
  width: 100%;
}
.features-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.feature-item {
  text-align: center;
}
.feature-item p {
  color: var(--basic-dark);
}
.feature-item h3 {
  font-weight: bold;
  font-size: 21px;
}
.reasons-list {
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  background-color: var(--special);
}
.reasons-list h3 {
  font-weight: bold;
  font-size: 21px;
}
.reason {
  text-align: center;
  padding-top: 47px;
  padding-bottom: 54px;
}
.bottom-reason {
  text-align: center;
  padding-top: 47px;
  padding-bottom: 54px;
  width: 258px;
}
.reason-number {
  margin: 25px 0;
}
.reason h3 {
  font-weight: bold;
  font-size: 21px;
}
.reasons-list p {
  color: var(--basic-dark);
}
.interest {
  font-size: 30px;
  line-height: 24px;
  font-weight: bold;
  margin-top: 57px;
  margin-bottom: 39px;
}
.interest-2 {
  margin: 0;
}
/* Search */
.hotels-search p {
  text-align: center;
}

.hotels-search a {
  color: var(--basic-white);
}
.button-wrapper {
  background-color: var(--basic-russet);
  width: 568px;
  height: 86px;
  margin: 0 auto;
  margin-top: 50px;
}
.button-wrapper:hover,
.button-wrapper:focus {
  background-color: #604e43;
}
.button-wrapper:active {
  background-color: #503e33;
}
.button-wrapper h2.heading {
  padding: 30px 125px;
}
.search-item {
  font-weight: bold;
  line-height: 26px;
}
.input-wrapper {
  background-color: var(--basic-lavender);
}
.input-wrapper input {
  background-color: var(--basic-lavender);
}
.search-item input {
  font-weight: bold;
  line-height: 26px;
  border: none;
  outline: none;
}
/* Buttons */
.search-button {
  text-align: center;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-niagara);
  border: none;
}
.search-button:hover,
.search-button:focus {
  background-color: #669ec0;
}
.search-button:active {
  background-color: #5496bd;
}
.show-button {
  border: 2px solid #ffffff;
  background-color: none;
  outline: none;
  background-color: transparent;
  text-transform: uppercase;
  font: inherit;
  color: var(--basic-white);
}
/* Footer */
.footer-contacts {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}
.footer-contacts a {
  color: var(--basic-black);
}
.footer-socials {
  list-style: none;
  display: flex;
}
.page-footer {
  display: flex;
  justify-content: space-around;
}
.developers {
  line-height: 26px;
}
/* Filters */
.filter {
  display: flex;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 32px;
  padding-left: 73px;
  padding-right: 73px;
}
.filter fieldset {
  border: none;
  margin: 0;
  padding: 0;
}
.filter li {
  margin-top: 23px;
}
.filter li:first-child {
  margin: 0;
}
.filter fieldset:first-child {
  margin-right: 120px;
}
.filter ul {
  padding-left: 0;
  margin: 0;
  list-style: none;
}
.filters {
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  color: var(--basic-white);
}
.legend {
  margin: 0;
  margin-bottom: 25px;
  font-weight: bold;
  font-size: 16px;
}
.range {
  margin: 0;
  margin-left: 347px;
}
.sorting {
  display: flex;
  margin-left: 46px;
  font-size: 12px;
  line-height: 18px;
}
.sorting p {
  margin: 0;
  margin-right: 40px;
}
.sorting-buttons {
  margin-left: auto;
  display: flex;
}
.sorting-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.sorting-list li {
  margin-right: 33px;
  color: var(--basic-black);
  border-bottom: 1px dashed var(--basic-niagara);
  opacity: 0.3;
}
.sorting-row {
  display: flex;
  padding: 30px 73px;
}
.sorting-row p.heading {
}
.container {
  padding-left: 73px;
  padding-right: 73px;
  margin: 0;
}
/* Hotels */
.hotels-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}
.hotels-list li {
  display: flex;
  padding-left: 73px;
  padding-right: 73px;
  padding-top: 24px;
  padding-bottom: 30px;
  border-top: 1px solid #e5e5e5;
}
.hotels-list li:last-child {
  border-bottom: 1px solid #e5e5e5;
}
.hotel-column {
  margin-left: 30px;
}
.hotel-column h2 {
  margin: 0;
}
.hotel-price {
  display: flex;
}
.more-button {
  text-align: center;
  font-weight: bold;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-niagara);
  border: none;
}
.book-button {
  text-align: center;
  font-weight: bold;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-russet);
  border: none;
}
.rating {
  background-color: var(--basic-lavender);
  color: var(--basic-shadow);
}
.rating-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: auto;
}
